@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "HyliaSerif";
  src: local("HyliaSerif"),
   url("./assets//Fonts/HyliaSerif.ttf") format("truetype");
  font-weight: bold;
 }
 
body {
  background: #131315;
}
@media (max-width: 768px) {
  body {
      overflow-x: hidden;
  }

}